body{
  font-family: 'Times New Roman', Times, serif;
  margin:20px;
  padding: 0px;
  background-color: #f0f4f8;
}
h1{
  text-align: center;
  color:black
}
form{
  max-width: 600px;
  margin: auto;
  background-color: rgb(139, 205, 183);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  padding: 20px;
}
fieldset{
  border:2px solid #3498bd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: aliceblue;
}
legend{
  font-weight: bold;
  color:black
}
label{
  display: block;
  margin-top: 10px;
  color:#2c3e50
}
input,textarea{
  width:calc(100% 1px);
  padding: 8px;
  margin-top: 4px;
  border:1px solid #3498bd;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  display:flex;
  width: 70px;
  height:20px;
  padding: 10px;
  background-color: #3498bd;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
button:hover{
  background-color: bisque;
}
#resumeoutput{
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border:2px solid #3498bd;
  border-radius: 8px;
  background-color: aliceblue;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
#resumeoutput{
  color:#2c3e50
}